*{
    padding: 0;
    margin: 0;
}
.main-web{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 207, 207);
}
.container{
    height: 95vh;
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.item{
    border-radius: 10px;
}
.item-1{ 
    grid-area: 1 / 1 / 3 / 3; 
    background-image: url(./image/meo1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.item-2{
    grid-area: 3 / 1 / 6 / 2;
    background-image: url(./image/meo2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.item-3{
    grid-area: 3 / 2 / 6 / 3;
    background-image: url(./image/meo3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.item-4{
    grid-area: 1 / 3 / 4 / 4;
    background-image: url(./image/meo7.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.item-5{
    grid-area: 4 / 3 / 6 / 5;
    background-image: url(./image/meo5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.item-6{
    grid-area: 1 / 4 / 3 / 5;
    background-image: url(./image/meo6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.item-7{
    grid-area: 3 / 4 / 4 / 5;
    background-image: url(./image/meo4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}